
*{
  color: black;
  
}


.row{
  border-top: 1px white;
}
.jumbotron{
  text-align: center;
  color: white
}

.time-div{
  margin-top: 2px;
}

.hour{
  background-color: white;
  padding-top: 20px;
}

textarea{
  background: transparent;
  padding: 10px;
  z-index: 9999;

}

.btn{
background-color: cornflowerblue;
border: 1px 1px 1px 1px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}


.past{
  background-color: gray;
  border-radius: 15px;
}


.present{

  background-color: red;
  border-radius: 15px
}


.future{
 background-color: greenyellow;
 border-radius: 15px;
}
